<div class="header-container header-container-main">
    <div class="logo logo-header">
        <a href="index.html" class="logo-link">LB Tools</a>
    </div>
    
    <nav class="main-nav main-navigation">
        <ul class="nav-list nav-primary">
            <li class="nav-item nav-item-home"><a href="index.html" class="nav-link nav-link-home">Головна</a></li>
            <li class="nav-item nav-item-dropdown dropdown-header-link" id="appsDropdown">
                <a href="#" class="nav-link nav-link-dropdown dropdown-header-link-btn" id="appsToggle">Інструменти <span class="dropdown-arrow dropdown-arrow-header-link">▼</span></a>

                <section class="header-links dropdown-section">
                    <h2 class="section-title section-title-header-links">Інструменти</h2>
                    <div class="links-container" data-links="header"></div>
                </section>
            </li>
            <li class="nav-item nav-item-about"><a href="about.html" class="nav-link nav-link-about">Про нас</a></li>
            <li class="nav-item nav-item-contact"><a href="contact.html" class="nav-link nav-link-contact">Контакти</a></li>
        </ul>
    </nav>
    
    <button id="themeToggle" class="theme-toggle theme-switcher">
        <svg class="icon icon-theme">
            <use href="assets/img/icons/icons.svg#moon" class="icon-use"></use>
        </svg>
    </button>
    
    <button class="mobile-menu-btn mobile-nav-toggle">
        <span class="menu-line menu-line-1"></span>
        <span class="menu-line menu-line-2"></span>
        <span class="menu-line menu-line-3"></span>
    </button>
</div>
